*{
    margin: 0;
    box-sizing: border-box;
}
.gridder{
    background-color: rgb(17, 8, 8);
}
.gridder{
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

.data{
    display: grid;
    grid-gap: 20px;
    justify-self: center;
}
.number{
    color: #fff;
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    align-self: center;
    font-size: 2.5em;
}
.flexdiv{
    margin: auto;
    display: flex;
    justify-content: space-evenly!important;
}